<ion-content class="ion-padding ion-text-center">

  <div class="logo">
    <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQGJ7RhHVvRX2Q/company-logo_200_200/0/1625510602189?e=1642636800&v=beta&t=LSl3nXmC3AZzzalksdB1ru5OuqovR_Fa1qbnADeUYoY">
  </div>

  <div class="form">
    <ion-item lines="none">
      <ion-input placeholder="email@email.com" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input placeholder="password" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button id="signin" color="orange" expand="block" (click)="signIn()">Sign in</ion-button>
    <ion-button id="signup" color="white" expand="block">Sign up</ion-button>
  </div>

</ion-content>
